.formacao {
    padding: 5rem 2rem;
    background-color: #161616;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.titulo {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 4rem;
    font-family: var(--fontMono);
    color: var(--corBranco);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
}

.icone {
    margin-bottom: 1.5rem;
    color: var(--corBranco);
}

.subtitulo {
    font-family: var(--fontMono);
    color: var(--corBranco);
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.curso {
    font-weight: 600;
    font-family: var(--fontPrincipal);
    color: var(--corBranco);
    margin-bottom: 0.5rem;
}

.instituicao {
    color: var(--corBranco);
    font-family: var(--fontPrincipal);
    margin-bottom: 0.5rem;
}

i {
    font-size: 1.5rem;
}

.periodo {
    font-family: var(--fontMono);
    font-size: 0.875rem;
    color: var(--corBranco);
}

.lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--corBranco);
    font-family: var(--fontPrincipal);
}

.item a {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.2s ease;
    font-size: 0.875rem;
}

.item a:hover {
    opacity: 0.7;
}

.idioma {
    font-size: 0.875rem;
    color: var(--corBranco);
    font-family: var(--fontPrincipal);
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}