body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.25rem;
    background-color: #f6f6f6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0.125rem 0.25rem #0000001a;
}

header .logo {
    flex: 0 1 auto;
}

header .logo img {
    height: 3.75rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

nav a:hover {
    color: #333333;
    text-decoration: underline;
}

.sobre-mim {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 6.25rem 3.125rem;
    gap: 1.25rem;
    text-align: justify;
}

.quadrado {
    flex: 1;
    background-color: #0052cc;
    color: #f6f6f6;
    padding: 1.25rem;
    height: auto;
    border-radius: 0.9375rem;
    box-sizing: border-box;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2.312rem;
    height: auto;
    box-sizing: border-box;
    border-radius: 0.9375rem;
    background-color: #0052cc;
    color: #f6f6f6;
}

.descricao h2 {
    margin-bottom: 0.625rem;
    font-size: 1.75rem;
    font-weight: 600;
}

.descricao p {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0.625rem 0;
}

.formacao {
    background-color: #38474E;
    color: #f6f6f6;
    padding: 1.25rem;
    margin: -1.875rem 3.125rem 3.125rem;
    border-radius: 0.9375rem;
}

.formacao h3 {
    margin-bottom: 0.625rem;
    font-size: 1.75rem;
    font-weight: 600;
}

.formacao ul {
    list-style: none;
    padding: 0;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.4;
}

.formacao ul li {
    margin-bottom: 1.25rem;
}

.formacao ul a {
    text-decoration: none;
    color: #008CBA;
}

.projetos {
    padding: 3.125rem;
    background-color: #f6f6f6;
}

.projetos h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
    color: #000000;
}

.projetos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.projeto {
    flex: 1 1 calc(50% - 1.25rem);
    max-width: 50rem;
    padding: 1.25rem;
    /* background-color: #0052cc; */
    background-color: #081B2A;
    border-radius: 0.9375rem;
    box-shadow: none;
    color: #f6f6f6;
    box-sizing: border-box;
}

.projeto h3 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.projeto a {
    color: #f6f6f6;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
}

.projeto a:hover {
    text-decoration: underline;
}

.projeto p {
    font-size: 1.25rem;
    line-height: 1.6;
    margin: 0;
    margin-bottom: 1.25rem;
    text-align: justify;
}

.servicos {
    padding: 2rem;
}

.servicos h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
    color: #000000;
}

.servicos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servico {
    background: #38474E;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem #0000001a;
    margin: 1rem;
    padding: 1rem;
    flex: 1 1 15.62rem;
    transition: transform 0.3s ease;
}

.servico:hover {
    transform: scale(1.05);
}

.servico h3 {
    margin-top: 0;
    color: #f6f6f6;
}

.servico p {
    margin: 0.5rem 0 0;
    color: #f6f6f6;
    line-height: 1.6;
    text-align: justify;
}

.depoimentos {
    padding: 2.5rem 1.25rem;
    text-align: center;
}

.depoimentos h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.depoimentos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
}

.depoimento {
    background: #38474E;
    border-radius: 0.5rem;
    padding: 1.25rem;
    max-width: 18.75rem;
    box-shadow: 0 0.25rem 0.5rem #0000001a;
    flex: 1 1 18.75rem;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease;
}

.depoimento:hover {
    transform: scale(1.05);
}

.depoimento p {
    font-size: 1.1rem;
    font-style: italic;
    color: #f6f6f6;
    margin-bottom: 0.625rem;
}

.depoimento span {
    display: block;
    font-size: 1rem;
    color: #f6f6f6;
}

.contato h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
    color: #000000;
}

.mensagem-contato {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    color: #333333;
}

.contato h3 {
    text-align: center;
}

.contato p {
    text-align: center;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-info img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.contato-info a {
    text-decoration: none;
    color: #333333;
}

.contato-info strong {
    margin-right: 8px;
}

footer {
    text-align: center;
    padding: 1.25rem;
    background-color: #f6f6f6;
    border-top: 0.0625rem solid #f6f6f6;
}

.redes-sociais {
    margin-bottom: 0.625rem;
}

.redes-sociais a {
    margin: 0 0.5rem;
    display: inline-block;
}

.redes-sociais img {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s ease;
}

.redes-sociais a:hover img {
    transform: scale(1.1);
}

footer p {
    margin: 0.625rem 0 0;
    font-size: 1rem;
    color: #555555;
}

section {
    scroll-margin-top: 5rem;
}

/* Responsividade */

@media (max-width: 48rem) {
    .sobre-mim {
        margin-top: 30px;
        flex-direction: column;
        padding: 5rem 1.25rem;
    }

    .projetos-container {
        flex-direction: column;
    }

    .projeto {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .formacao {
        margin: -1.875rem 1.25rem 3.125rem;
    }

    .servicos-container {
        flex-direction: column;
        align-items: center;
    }

    .contato p {
        flex-direction: column;
        text-align: left;
    }

    .contato-info img {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 30rem) {
    .sobre-mim {
        padding: 3.75rem 0.625rem;
    }

    .projeto p {
        font-size: 1rem;
    }

    .descricao h2, .formacao h3, .projetos h2, .projeto h3, .servicos h2 {
        font-size: 1.5rem;
    }

    .descricao p, .formacao ul, .projeto p {
        font-size: 1.125rem;
    }

    .formacao {
        margin: -1.875rem 0.625rem 1.875rem;
    }

    footer p {
        font-size: 0.875rem;
    }

    .contato p {
        flex-direction: column;
        align-items: flex-start; /* Alinha os itens à esquerda em telas menores */
        text-align: center;
        gap: 0.5rem;
        align-items: center;
    }

    .contato-info img {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .contato-info {
        justify-content: flex-start;
        text-align: left;
    }
}
